{% load static %}
<!DOCTYPE html>
<html>
  <head>    
    <title>team-5 project</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" type="text/css" href="{% static 'authtest/css/common.css' %}">
  </head>
  <body>
    <h1 id="ttl"><div id="rogo"><img src="{% static 'monbran/img/monbran.png' %}" alt="Logo" width="300" height="100"></div>Monbran　　</h1>    <h1 >編集する</h1>
    <form action="{% url 'update' article.id %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">タイトル</label><br>
        <input id="titleInput" name="title" type="text"
          placeholder="Input title" value="{{ article.title }}">
      </div>
      <div>
        <label for="textInput">編集した内容</label><br>
        <textarea id="textInput" name="text" rows="3">{{ article.body }}</textarea>
      </div>
      <div>
        <button type="submit">編集</button>
      </div>
    </form>
  </body>
</html>