{% extends 'sample/base.html' %}

{% block content %}
    <h1>ChatGPT Chatbot</h1>
    <form id="questionForm" action="" method="post">
        {% csrf_token %}
        <textarea id="userInput" name="question" placeholder="Ask a question"></textarea>
        <button type="submit">Ask</button>
    </form>
    <div id="chatOutput">
        {% if question %}
            <p><strong>Your question:</strong> {{ question }}</p>
        {% endif %}
        {% if answer %}
            <p><strong>ChatGPT's response:</strong> {{ answer }}</p>
        {% endif %}
    </div>

    <h1>文章生成と翻訳</h1>
    <form id="generateForm" method="post" action="{% url 'sample:generate_text' %}">
        {% csrf_token %}
        <label for="length">文章の長さ:</label>
        <select name="length" id="length" required>
            <option value="50">short</option>
            <option value="150">middle</option>
            <option value="250">long</option>
        </select>
        <br>
        <label for="genre">文章のジャンル:</label>
        <select name="genre" id="genre" required>
            <option value="科学">科学</option>
            <option value="文学">文学</option>
            <!-- 他のジャンルを追加 -->
        </select>

        <br>
        <button type="submit"> 文章を生成 </button>
    </form>

    <!-- 生成された文章を表示 -->
    <div id="generated_Text">

        <h1>文章生成系された</h1>
        <h1>{{ message }}</h1>
    </div>
    

{% endblock %}