{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Chatty English</title>
        <meta name="description" content="Chatty'homepage">
        <!--CSS-->

        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
        <link href="{% static 'freetalk/css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <div id="home" class="big-bg">
            <header class="page-header wrapper">
                <h1><a href="{% url 'index' %}"><img class="logo" src="{% static '' %}"  alt="Chatty"></a></h1>

                <form id="questionForm" action="" method="post">
                    {% csrf_token %}
                    <textarea id="userInput" name="question" placeholder="Ask a question"></textarea>
                    <button type="submit">Ask</button>
                </form>
                <div id="chatOutput">
                    {% for entry in logs %}
                        <p><strong>{{ entry.user }}:</strong> {{ entry.content }}</p>
                    {% endfor %}
                </div>
                <nav>
                    <ul class="main-nav">
                      <li><a href="{% url 'Reading' %}">Reading</a></li>
                      <li><a href="{% url 'FreeTalk' %}">Free Chat</a></li>
                      <li><a href="{% url 'Speaking' %}">Speaking </a></li>
                    </ul>   
                </nav>
            </header>
        </div>
            <div id="chat-container">
                <div id="chat-messages">
    
    
                </div>
                <div id="user-input">
                    <input type="text" id="message-input" placeholder="メッセージを入力">
                    <button id ="seend-button">Send</button>
                </div>
    
            </div>
    

        <script src="{% static 'freetalk/js/script.js' %}"></script>             
    </body>
</html>