{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Chatty English</title>
        <meta name="description" content="Chatty'homepage">
        <!--CSS-->

        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
        <link href="{% static 'eng_app/css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <div id="home" class="big-bg">
            <header class="page-header wrapper">
                <h1><a href="{% url 'index' %}"><img class="logo" src="{% static '' %}"  alt="Chatty"></a></h1>
                <nav>
                    <ul class="main-nav">
                        <li><a href="{% url 'sample' %}">Reading</a></li>
                        <li><a href="{% url 'FreeTalk' %}">Free cheat</a></li>
                        <li><a href="{% url 'Speaking' %}">Speaking </a></li>
                    </ul>   
                </nav>
            </header>
            <div class="home-content wrapper">
                <h2 class="page-title">Well come to Chatty English</h2>
                <p>英語王国の招待状</a>
            </div><!--進入-->
        </div>

                
        <a class="button" href="Reading/">Entry</a>
        <footer>
            <div class="wrapper">
                <p><small>&copy; 20223 team_3 </small></p>
            </div>
        </footer>
        
        
    </body>
</html>