@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
    font-family: 'Exo', sans-serif;
    background-color: #8f94fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* Adjust the margin as needed */
}

#chat-container {
    max-width: 600px; /* Adjust the maximum width as needed */
    width: 100%;
    overflow-y: auto; /* Enable vertical scrolling if needed */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align messages to the left initially */
    margin-top: 10px; /* Adjust the margin as needed */
}

.user-message, .assistant-message {
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%; /* Adjust the maximum width as needed */
}

.user-message {
    background-color: #4caf50; /* User message background color */
    color: #fff;
    align-self: flex-end; /* Align user message to the right */
}

.assistant-message {
    background-color: #f0f0f0; /* Assistant message background color */
    align-self: flex-start; /* Align assistant message to the left */
}

.message-sender {
    font-weight: bold;
    margin-right: 5px;
}

.text-to-speech-btn {
    margin-top: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.ask-btn-container {
    margin-left: 130px; /* ボタンとフォームの間隔を調整 */
}

/* 紙飛行機の画像を背景にする */
.ask-btn {
    background-image: url('static/images/10259.png'); /* 画像のパスを実際のものに置き換えてください */
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px; /* テキストを非表示にするためのテクニック */
    width: 40px; /* ボタンの幅 */
    height: 30px; /* ボタンの高さ */
    border: none;
    padding: 0;
}


p {
    margin: 0px;
}
